.text-center {
    text-align: center;
    color: white;
}

.bg-red {
    background: red;
}

.mx-auto {
    margin: auto;
}

.flex{
    flex-direction: column;
}

.flex-col{
    display: flex;
}

.items-center{
    align-items: center;
}